<a routerLink='home/{{details.id}}'>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="http://localhost:8090/{{details.image}}" alt="Card image" style="width:100%">
          <h4 class="card-title"><b><span>Book Name:</span></b>{{details.name}}<br></h4>
          <p class="card-text"><b><span>Written By:</span></b>{{details.author}}><br>
                                <b><span>No.of.Pages:</span></b>{{details.pages}}<br>
                                <b><span>Price:</span></b>INR {{details.price}}<br>
          </p>
      </div>
</a>
